@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

@{
    var className = "table	table-bordered	table-hover";
    List<Vidly.Models.Movie> movieList = Model.ToList();
}

@if (movieList.Count == 0)
{
    <p>We don't have any movies yet.</p>
}
else
{

    <table class="@className">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        @foreach (var movie in movieList)
        {
            <tr>
                @* For some bizarre reason, the ActionLink() method requires the last null argument when passing in parameters*@
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </table>
}

